//colors variables
$white: #ffffff;
$footer-bg: #393F42;
$brand-blue: #3086C7;
$brand-orange: #F26922;
/*$body-bg: #f4faff;*/


//boostrap customize

$line-height-base:        1.8 !default;
$panel-primary-border:        #5ebce6 !default;
$panel-primary-heading-bg:    #5ebce6 !default;